/problema1/Problema1/nbproject/private/
/problema1/Problema1/build/
/problema1/NotasEstudiantes/nbproject/private/
/problema1/NotasEstudiantes/build/
/problema2/SueldoProfesores/nbproject/private/
/problema2/SueldoProfesores/build/
/problema3/Automovil/nbproject/private/
/problema3/Automovil/build/
/problema4/Cheques/nbproject/private/
/problema4/Cheques/build/
